.bigger_logo{
    margin-top:0;
    opacity:1;
    padding-top:100px;
    padding-bottom:30px;
    -webkit-transition: all ease 250ms;
    -moz-transition: all ease 250ms;
    -ms-transition: all ease 250ms;
    -o-transition: all ease 250ms;
    transition: all ease 250ms;
}

.bigger_logo.focus{
    margin-top:-200px;
    opacity:0;
}
