body {
    position: relative;
    overflow-x: hidden;
}

body, html {
    height: 100%;
}

#header_mobile{
    position:fixed;
    top:0;
    width:100%;
    z-index:300;
    height:50px;
}

#header_mobile {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
body.toggled{
    overflow:hidden;
}
.toggled #header_mobile {
    padding-left: 280px;
    height:100%;
}

.toggled #header_mobile #sidebar-wrapper {
    width:280px;
}

.toggled #header_mobile #page-content-wrapper {
    margin-right: -280px;
    position: absolute;
}

#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}


.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 33px;
    position: fixed;
    top: 42px;
    width: 32px;
    z-index: 999;
}

.hamburger:hover {
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    -ms-opacity: 0;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-closed:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: block;
    -ms-opacity: 1;
    opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    top: 0;
}

.hamburger.is-closed:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    bottom: 0;
}

.hamburger.is-closed .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    top: 5px;
}

.hamburger.is-closed .hamb-middle {
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-closed .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom {
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}
.hamburger.is-closed .hamb-middle, .hamburger.is-open .hamb-middle{
    height: 2px;
    left: 0;
    position: absolute;
    width: 80%;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
    margin-top: -2px;
    top: 50%;
}

.hamburger.is-open:before {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    -ms-opacity: 0;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.is-open:hover before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: block;
    -ms-opacity: 1;
    opacity: 1;
}


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hamb-bottom, .hamb-middle, .hamb-top {
    background-color: #fff;
}
.shrink .hamb-bottom,
.shrink .hamb-middle,
.shrink .hamb-top {
    background-color: #333;
}
.shrink .hamburger{
    margin-left: 15px;
    top: 12px;
}



/*사이드바*/

#sidebar-wrapper {
    position:relative;
    background: rgb(255,255,255);
    height: 100%;
    left: 0;
    margin-left: -280px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.sidebar-card{
    color:#FFF;
    padding:40px 0 0 0;
    background:rgb(46,58,90);
}

aside a{
    color:#000;
    padding:20px 15px;
    font-size:18px;
    font-weight:300;
}
aside a:hover,
aside a.active{
    background:rgb(239,244,254);
}
aside.nav .submenu{
    padding-left:40px;
}
aside.nav .submenu a{
    font-size:16px;
}

#header_mobile nav.navbar{
    -webkit-transition: all ease 250ms;
    -moz-transition: all ease 250ms;
    -ms-transition: all ease 250ms;
    -o-transition: all ease 250ms;
    transition: all ease 250ms;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
body.shrink #header_mobile nav.navbar,
#header_mobile.shrink nav.navbar{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* 알람관련 */
.toggle_alert{
    color:#fff;
    background: transparent;
    border: none;
    font-size: 32px;
    margin-right: 15px;
    position: fixed;
    top: 33px;
    right:0;
    text-align:Center;
    width: 32px;
    z-index: 999;
}
.toggle_alert .black{
    display:none;
}
.shrink .toggle_alert{
    top:12px;
}
.shrink .toggle_alert .white{
    display:none;
}
.shrink .toggle_alert .black{
    display:block;
}
.toggle_alert .badge{
    border-radius:50%;
    font-size:9px;
    position:absolute;
    right:-8px;
    bottom:5px;
}

/*사이드바 열리면 알람버튼 사라지게 (x랑 겹침) */
.toggled .toggle_alert{
    display:none;
}

.welcome_seciton {
    background-color: rgba(32, 56, 130, 1);
    color:#FFF;
}