*{-webkit-touch-callout: none; -webkit-user-select: none;}
html{
    height: 100%;

}
.body_content {
    padding-bottom: 280px;
}
body{
    min-height: 100%;
    position: relative;
}
input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
html, body, p {font-size:14px;margin:0;padding:0;}@font-face {font-family:'NanumSquareR_1';src:local(NanumSquareR),local(NanumSquare),url("../font/NanumSquareR_1.eot?#iefix") format('embedded-opentype'),url("../font/NanumSquareR_1.woff") format('woff'),url("../font/NanumSquareR_1.ttf") format('truetype');font-style:normal;font-weight:normal;unicode-range:U+0-10FFFF;}html, body, h1, h2, h3, h4, h5, h6, li, p, div, input {font-family:"NanumSquareR_1" !important;}body .modal-open {    overflow:hidden;}a, a:hover {color:black;}.wrap {width:100%;max-width:1000px;margin:0 auto;}input {padding:0px 10px;}.null {text-shadow:none;}.padding_0 {padding:0;}.padding_0_imp {padding:0 !important;}.padding_5 {padding:5px;}.padding_5_xs_null {padding:5px;}.padding_6_12 {padding:6px 12px;}.padding_10 {padding:10px;}.padding_15 {padding:15px;}.padding_20 {padding:20px;}.padding_top_7 {padding-top:7px;}.padding_top_10 {padding-top:10px;}.padding_top_10_imp {padding-top:10px !important;}.padding_top_15 {padding-top:15px;}.padding_top_17 {padding-top:17px;}.padding_top_20 {padding-top:20px;}.padding_top_30 {padding-top:30px;}.padding_top_50 {padding-top:50px;}.padding_top_50_imp {padding-top:50px !important;}.padding_top_50_xs_null {padding-top:50px;}.padding_top_100 {padding-top:100px;}.padding_top_130_imp {padding-top:130px !important;}.padding_bottom_7 {padding-bottom:7px;}.padding_bottom_10 {padding-bottom:10px;}.padding_bottom_17 {padding-bottom:17px;}.padding_bottom_20 {padding-bottom:20px;}.padding_bottom_30 {padding-bottom:30px;}.padding_bottom_50 {padding-bottom:50px;}.padding_bottom_100 {padding-bottom:100px;}.padding_left_0 {padding-left:0px !important;}.padding_left_5 {padding-left:5px;}.padding_left_10 {padding-left:10px;}.padding_left_10per_imp {padding-left:10% !important;}.padding_left_15 {padding-left:15px;}.padding_left_20 {padding-left:20px;}.padding_left_27 {padding-left:27px;}.padding_right_0 {padding-right:0px !important;}.padding_right_5 {padding-right:5px;}.padding_right_10 {padding-right:10px;}.padding_right_10per_imp {padding-right:10% !important;}.padding_right_15 {padding-right:15px;}.padding_right_20 {padding-right:20px;}.padding_right_27 {padding-right:27px;}.margin_auto {margin:auto;}.margin_0 {margin:0;}.margin_5 {margin:0px 5px;}.margin_10 {margin:0px 10px;}.margin_left_10 {margin-left:10px;}.margin_left_20 {margin-left:20px;}.margin_left_40 {margin-left:40px;}.margin_right_5 {margin-right:5px;}.margin_right_10 {margin-right:10px;}.margin_right_per_4 {margin-right:4%;}.margin_top_per_4 {margin-top:4%;}.margin_top_0_imp {margin-top:0px !important;}.margin_top_10 {margin-top:10px;}.margin_top_20 {margin-top:20px;}.margin_top_30 {margin-top:30px;}.margin_top_30_imp {margin-top:30px !important;}.margin_top_50 {margin-top:50px;}.margin_bottom_0 {margin-bottom:0px;}.margin_bottom_10 {margin-bottom:10px;}.margin_bottom_20 {margin-bottom:20px;}.height_18 {height:18px;}.height_20 {height:20px;}.height_26 {height:26px;}.height_35 {height:35px;}.height_40 {height:40px;}.height_45 {height:45px;}.height_50 {height:50px;}.height_54 {height:54px;}.height_54_xs_109 {height:54px;}.height_60 {height:60px;}.height_150 {height:150px;}.height_200 {height:200px;}.height_200_xs_100 {height:200px;}.font_size_20 {font-size:20px;}.float_none {float:none;}.float_left {float:left;}.float_right {float:right;}.float_right_imp {float:right !important;}.right_15{right:15px;}.color_4374D9 {color:#4374D9;}.inline_block {display:inline-block;}.block {display:block;}.position_relative{position:relative;}.position_absolute{position:absolute;}.top_0 {top:0;}.left_0 {left:0;}.left_15 {left:15px;}.left_20 {left:20px;}.left_20_xs_null {left:20px;}.bottom_20{bottom:20px;}.line_height_15 {line-height:1.5;}.menu_container {float:left;    display:inline-block;    cursor:pointer;padding:10px 10px;height:50px;}.menu_bar1, .menu_bar2, .menu_bar3 {    width:25px;    height:3px;    background-color:black;    margin:6px 0;}.vertical_middle {vertical-align:middle;}.align_center {text-align:center;}.align_right {text-align:right;}.align_left {text-align:left;}.align_left_img {text-align:left !important;}.width_1 {width:1% !important;}.width_2 {width:2% !important;}.width_4 {width:4% !important;}.width_5 {width:5% !important;}.width_8 {width:8% !important;}.width_10 {width:10% !important;}.width_13 {width:13% !important;}.width_15 {width:15% !important;}.width_20 {width:20% !important;}.width_24 {width:24% !important;}.width_32 {width:32% !important;}.width_40 {width:40% !important;}.width_45 {width:45% !important;}.width_48 {width:48% !important;}.width_50 {width:50% !important;}.width_60 {width:60% !important;}.width_70 {width:70% !important;}.width_80 {width:80% !important;}.width_100 {width:100% !important;}.width_100_xs_90 {width:100% !important;}.max_width {max-width:1000px}.max_width_500 {max-width:500px}.max_width_1000 {max-width:1000px}.represent_careers_list,.careers_list {max-width:1000px;margin:auto;padding-top:50px;}.represent_careers_list > div,.careers_list > div {width:100%;display:inline-block;}.search_input {line-height:30px;margin:10px 0px;border:1px solid #000;border-radius:20px;width:100%;float:right;height:30px;}.search_btn {position:absolute;top:15px;right:12px;width:20px;height:20px;}.main_image {width:100%;height:368px;text-align:center;}.main_image > h2 {padding:100px 0px 0px 0px;}.main_image > h2, .main_image >h3 {text-align:center;color:#FFF;}.main_image > button, .main_image > a > button {border-radius:0px;border:0px solid #00A9C1;padding:10px 20px;background-color:rgba( 0, 179, 197, 0.96);margin-top:30px;color:#E8E6E6;font-size:16px; border-radius: 3px;}.list1_in_first {min-width:315px;display:inline-block;margin-right:6.6px;float:left;}.list1_in_last {min-width:315px;display:inline-block;margin-left:6.6px;float:left;}.list1_in {min-width:315px;display:inline-block;margin-right:6.6px;margin-left:6.6px;float:left;}.list1_in_first > a > .panel > .panel-body > h4 > strong,.list1_in_first > .panel > .panel-body > h4 > strong,.list1_in_last > .panel > .panel-body > h4 > strong,.list1_in > .panel > .panel-body > h4 > strong {white-space:nowrap;display:block;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;}.list3 > ul > li > .panel > .panel-body > h4 > strong,.list3 > ul > li > a > .panel > .panel-body > h4 > strong {white-space:nowrap;display:block;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;}#cut1 {white-space:nowrap;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;}.btn_left  {right:50.5%;position:absolute;}.btn_right  {left:50.5%;position:absolute;}.bxslider_outer,.bxslider_outer2 {margin:auto; width:100%; max-width:1000px;}.bxslider_outer {padding-top:50px;}.bxslider_outer2 {padding-top:10px;}.color_point1 {color:#013f70; border-bottom: 1px solid;padding-bottom: 2px;font-size: 16px;font-weight: 700;}.color_point2 {color:#003E6F;}.background_point1 {color:#00A9C1;}.open > .background_point2, .open > .background_point2:hover, .background_point2, .background_point2:hover {background:#003E6F !important;background-color:#003E6F !important;}.background_point3 {background:#f3f4f4; background-color:#f3f4f4;}.border1 {border:1px solid black; background:#FFF;}.border1_xs_null {border:1px solid #ddd; background:#FFF;}.border1_not_top_xs_null {border:1px solid #ddd; border-top:0px solid #fff; background:#FFF;}.border1_not_top {border:1px solid black; border-top:0px solid black; background:#FFF;}.border1_not_top2 {border:1px solid #ddd; border-top:0px solid black; background:#FFF;}.border2 {border:1px solid #ddd; background:#FFF;}.open > .border3, .open > .border3:hover, .border3, .border3:hover {border:1px solid white !important;}.border4_xs_not_null_top {border-top:0px solid #FFF;}.border4_xs_not_null_left {border-left:0px solid #FFF;}.border_bottom1{border-bottom:1px solid #00A9C1;}.border5 {border:1px solid white;color:white;background:rgba(0, 0, 0, 0)}.input1 {width:100%;height:50px;background:white;border:0px;}.input2 {height:50px;background:white;border:0px;}.input3 {width:100%;height:50px;background:#eee;border:0px;}.button1 {width:100%;color:#FFF;background:#003E6F;text-align:center;height:50px;margin-top:10px;}.button2 {color:#FFF;background:#003E6F;text-align:center;height:50px;float:none;}.button3 {color:#FFF;background:#003E6F;text-align:center;height:50px;margin-top:10px;float:none;}.reply_button1 {color:white;background:#003E6F;text-align:center;width:70px;font-size:14px;height:40px;}.reply_button2 {color:black;background:#eee;text-align:center;width:70px;font-size:14px;height:40px;}.background_white {background:#FFF !important;background-color:#FFF !important;}.rectangle_20 {width:20px; height:20px;}.rectangle_25 {width:25px; height:25px;}.rectangle_30 {width:30px; height:30px;}.rectangle_35 {width:35px; height:35px;}.rectangle_60 {width:60px; height:60px;}.rectangle_70 {width:70px; height:70px;}.rectangle_70_xs_40 {width:70px; height:70px;}.rectangle_100 {width:100px; height:100px;}.open > .color_white, .open > .color_white:hover, .color_white, .color_white:hover {color:white !important;}.list4 {display:inline-block;width:100%;}.cut {width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}.application_complete {position:absolute;top:0;left:0;width:100%;height:100%;padding:5px;padding-bottom:25px;}.application_complete > div {width:100%;height:100%;background:black;opacity:0.3;}.application_complete > span {top:50%;left:50%;margin-left:-60px;margin-top:-21px;position:absolute;color:white;font-size:30px;font-weight:bold;text-align:center;}#my_info1_3, #my_info2_3, #my_info3_3, #my_info4_3, #my_info5_3 {display:none;width:100%;height:1px;background:#777;}#header .navbar-user  > li {padding:0px 48px;float:right;}#header .navbar-user  > li > a{float:left;line-height:21px;padding:10px 0px; font-weight:bold}#header .navbar-user > li > span {float:left;line-height:30px;padding:10px 0px;}#header .navbar-gnb > a {float:left;margin:10px 5px;height:30px;}
#modal_login input { font-family: '굴림' !important } #modal_join1 input { font-family: '굴림' !important } #modal_join2 input { font-family: '굴림' !important }
#footer {bottom:0;width:100%;background-color:rgb(64, 64, 64);padding:20px 0px;display:inline-block; position:absolute}
#footer p {padding:10px 10px;color:white;text-shadow:none;}
.visible-lM, .visible-mM, .visible-s_M, .visible-xM {
    display: none!important;
}
.visible-mW{
    display: none!important;
}
.wish_career{
  height:40px;
  background: white;
  border: 1px solid #ababab;
  margin-bottom: 5px;
  padding: 10px;
  color: #ababab;
  cursor: pointer;
}
.pointer1 {
  color: white;
  padding: 10px;
  width: 50%;
  height: 40px;
  position: relative;
  background: #003e6f;
  float: left;
  z-index: 3;
}
.pointer1:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #003e6f;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer3 {
  color: white;
  padding: 10px;
  width: 50%;
  height: 40px;
  position: relative;
  background: #007fc2;
  float: left;
  z-index: 2;
}
.pointer3:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #007fc2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: 2px;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer2 {
  color: white;
  padding: 10px;
  width: 50%;
  height: 40px;
  position: relative;
  background: #00a8c2;
  float: left;
  z-index: 1;
}
.pointer2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: 2px;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.2s linear, left 0.2s ease-out;
		   -moz-transition: opacity 0.2s linear, left 0.2s ease-out;
		     -o-transition: opacity 0.2s linear, left 0.2s ease-out;
		        transition: opacity 0.2s linear, left 0.2s ease-out;
	}
  .modal.left.fade.in .modal-dialog{
		left: 0;
	}

.oc3,.oc4,.oc5{
  display: none;
}
.dis, .lo_c{
  display:  none;
}

select {
  background-color: #fff;
}

#footer .float_right > a > img, #footer .float_right > img {height:45px;position:relative;transform:translateY(-10%);}#modal_location {height:100%; z-index:2;width:100% !important;position:absolute;}#modal_location > div:nth-child(1) {height:100%; background:#000; opacity:0.5;position:relative;}#css_location, #css_location1, #education {margin:0;padding:0px;display:inline-block;width:100%;}#css_location > li, #css_location1 > li, #education > li  {list-style:none;display:inline-block;padding:5px;}#education > li {padding:10px;text-align:center;}#education > li > img, #education > li > a > img {width:100%;}#css_location > li > div, #css_location1 > li > div {padding:10px 0px 10px 0px;border:1px solid #ddd;text-align:center;}#css_location > li > .select, #css_location1 > li > .select {background:#d9f2f5;}#careers_detail {list-style:none;display:inline-block;padding:0;}#careers_detail > li {float:left;padding-top:5px;padding-bottom:5px;}#careers_detail > li > div {font-weight:bold;width:110px;display:inline-block;}#careers_detail > li > span {width:50%;display:inline-block;}#careers_detail > .grid_alaways {display:inline-grid;}#agree1 > p, #agree2 > p, #agree3 > p, #agree4 > p, #mo_agree1 > p, #mo_agree2 > p, #mo_agree3 > p {margin-top:10px;}#agree1 > p > span, #agree2 > p > span, #agree3 > p > span ,#agree4 > p > span,#mo_agree1 > p > span,#mo_agree2 > p > span,#mo_agree3 > p > span {font-weight:bold;}#my_info {}#my_info > div:nth-child(1) {background:#f2f2f2;padding:20px;font-weight:bold;font-size:20px;}#my_info > div:nth-child(2) {padding:20px;}#date1 {font-size:12px;color:#999;}#question > tbody > tr > td > div {display:inline-block;}#question > tbody > tr > td > div:nth-child(2) {position:absolute;top:50%;margin-top:-13px;margin-left:10px;padding-left:0px;padding-right:0px;}#question > tbody > tr > td > div > div {display:inline-block;white-space:nowrap;overflow:hidden;word-wrap:break-word;padding:0;-webkit-line-clamp:1;text-overflow:ellipsis;max-height:40px;}#default_ul {list-style:none;display:inline-block;padding:0;margin:0;width:100%;}#default_ul > li > a {float:left;padding-top:6px;padding-bottom:6px;padding-left:15px;padding-right:15px;color:white;}#search_list1 > ul {list-style:none; padding:0; display:inline-block; width:100%;}@media (max-width:1217px) {.list1 {width:1000px;overflow:auto;-webkit-overflow-scrolling:touch;height:285px;white-space:nowrap;}.list2 {width:1000px;overflow:auto;-webkit-overflow-scrolling:touch;height:294px;white-space:nowrap;}}@media (max-width:991px) {#footer .container-fluid {text-align:center;}
#footer .float_left {display:inline-block;margin:0 auto;text-align:left;float:none;}
#footer .float_left > p:nth-child(1) {text-align:center;}.navbar-collapse1.in{overflow-y:visible;}.navbar-nav > li.divider{background-color:#ddd;height:1px;}.width_100_xs_90 {width:90% !important;}.padding_5_xs_null {padding:0;}.border1_xs_null{border:0px solid #000;}.border1_not_top_xs_null{border:0px solid #000; border-top:1px solid #ddd; background:white;}.padding_top_50_xs_null{padding-top:0;}}@media (max-width:768px) {.border4_xs_not_null_top {border-top:1px solid #FFF;}.border4_xs_not_null_left {border-left:1px solid #FFF;}.height_54_xs_109 {height:109px;}.height_200_xs_100{height:100px;}.rectangle_70_xs_40{width:40px; height:40px;}#question > tbody > tr > td > div > div {max-width:250px;}.left_20_xs_null { left:0; }}@media (max-width:411px) {.margin_xs_top_10{margin-top:10px !important;}}@media (max-width:415px) {#careers_detail > .grid {display:inline-grid;}#careers_detail > .flex {display:inline-flex;}#question > tbody > tr > td > div > div {max-width:180px;}}@media (min-width:992px) {.navbar-collapse1 .collapse,.navbar-collapse1.in {display:none;}}
.duty-btn-delete { max-width:10px; margin-right:10px; margin-left:5px; }
div.exif_image{ width:150px; height:150px; position:relative }
div.exif_image[data-orientation="8"]{ transform:rotate(270deg)}
div.exif_image[data-orientation="6"]{ transform:rotate(90deg)}
div.exif_image[data-orientation="3"]{ transform:rotate(180deg); }
img.exif_image[data-orientation="8"]{ right: 0; top: 0; width: 150px; height: 131px;}
img.exif_image[data-orientation="6"]{ bottom: 0; left: 0; width: 150px; height: 131px;}
img.exif_image[data-orientation="3"]{ right: 0; bottom: 0; height: 150px;  width:131px;}
img.exif_image[data-orientation="1"]{ height: 150px;  width:131px;}
.button_modal {width:75px; margin:5px; background: #003E6F; color:#FFF}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{width: auto;}
