/* 서체지정 */
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:400;
}

.imgicon{
    vertical-align:0px;
}
.weight_lighter{
    font-weight:300 !important;
}
.weight_normal{
    font-weight:400 !important;
}
.weight_bold{
    font-weight:500 !important;
}
.weight_super{
    font-weight:900 !important;
}
/* 서브페이지 비주얼 섹션 */
.sub_visual{
    background-size:cover;
    background-position:center bottom;
    color:#FFF;
    text-align:center;
    padding:60px 0;
}

/*레이아웃 출력 제어*/
@media screen and (max-width:991px) {
    body.no_mobile_header .noheader_alert{
        display:block;
    }
    body.no_mobile_header .noheader_alert .white{
        display:none;
    }
    body.no_mobile_header{
        margin-top: -3.4rem;
    }
}
.noheader_alert {
    display: none;
}

body.no_mobile_header #header_mobile{
    display:none !important;
}

body.no_pc_header #header_pc{
    display:none !important;
}
body.no_pc_header .sub_visual{
    display:none !important;
}
body.no_pc_footer footer{
    display:none !important;
}
footer{
    background-color:#212329;
}

/*부트스트랩 손보기*/
.btn-round{
    border-radius:200px;
}
.rounded-top{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.rounded-bottom{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.rounded-left{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.rounded-right{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.rounded-0-left{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.rounded-0-right{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn-group-xs > .btn, .btn-xs {
    padding: .55rem 1rem;
    font-size: .875rem;
    line-height: .5;
    vertical-align:4px;
}
.btn-group-xxs > .btn, .btn-xxs {
    padding: .55rem .5rem .55rem;
    font-size: .675rem;
    line-height: .3;
    vertical-align:2px;
}
table.table-bordered{
    border-bottom:2px solid #ccc;
}
.table-bordered td{
    border-bottom:1px solid #eee;
}

/*공용컬러*/
@media screen and (max-width:767px) {
    body {
        background: rgb(244, 246, 251);
        color: #333;
    }
    .mobile-border-0{
        border:none !important;
    }
}
.red{
    color:rgb(245,112,102);
}
.bg-red{
    color:#FFF;
    background-color:rgb(245,112,102) !important;
}
.color_primary{
    color:rgb(25,43,95);
}
.bg-primary{
    background-color:rgb(25,43,95);
    color:#FFF;
}


/*커스텀 섹션*/
img{
    max-width:100%;
}
.content_padding{
    padding:50px 15px 0 30px;
}
.welcome_seciton{
    background-size: 50%;
    background-position: right bottom;
    background-repeat:no-repeat;
    padding:80px 15px 20px;
}
.for_company .welcome_seciton{
    background-size: 76%;
}
@media (max-width: 767px) {
    .bg-white-sm {
        background-color: #FFF;
    }
    .shadow-sm-none-md{
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    .shadow-none-sm {
        box-shadow: none !important;
    }
}
@media (min-width: 768px) {
    .welcome_seciton{
        background-size: 300px;
        background-position: right bottom;
        background-repeat:no-repeat;
        padding:80px 15px 20px;
    }
    .for_company .welcome_seciton{
        background-size: contain;
        background-position: 90% bottom;
    }
    .shadow-sm-none-md{
        box-shadow: none !important;
    }
    .shadow-none-sm {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}
@media (min-width: 992px) {
    .welcome_seciton{
        background-size: 300px;
        background-position: 80% 25px;
        background-repeat:no-repeat;
        padding:40px 15px 30px;
    }
    .for_company .welcome_seciton{
        background-size: 400px;
        background-position: 90% bottom;
        padding:60px 15px 40px;
    }
    .position-md-absolute{
        position:absolute;
    }
}
.coupon .avatar{
    background-size:80%;
}
.purchaseBox{
    z-index:10;
    border-top:4px solid #f8f9ff;
}
@media (max-width: 991px) {
    .purchaseBox .toggleTip{
        text-decoration: none !important;
        position:absolute;
        top:-23px;
        background-image:url('/oPage/images/purchasebox_bg.png');
        background-size:contain;
        background-position:center top;
        background-repeat:no-repeat;
        color:#CCC;
        width:70px;
        padding-top:5px;
        height:30px;
        text-align:center;
        z-index:11;
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .purchaseBox.active .toggleTip .xi-angle-up,
    .purchaseBox .toggleTip .xi-angle-down{
        display:none;
    }
    .purchaseBox .toggleBox{
        height:0;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        overflow:hidden;
        -webkit-transition: all ease 250ms;
        -moz-transition: all ease 250ms;
        -ms-transition: all ease 250ms;
        -o-transition: all ease 250ms;
        transition: all ease 250ms;
    }
    .purchaseBox.active .toggleTip .xi-angle-down{
        display:inline;
    }
    .purchaseBox.active .toggleBox{
        height:auto;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@media (min-width: 992px) {
    /*.col-lg {*/
    .purchaseBox{
        border-top:3px solid rgb(245,112,102);
        left:auto;
        bottom:20px;
        right:20px;
        width:300px;
    }
}
.service_card .thumbnail{
    min-height:100px;
    background-size:cover;
    background-position:top center;
}
.service_card .btn{
    position:absolute;
    left:10px;
    top:85px;
}
.service_card{
    display:block;
    text-decoration: none !important;
    position:relative;
    text-align:center;
}

.tech_card{
    background-color:rgb(224,231,244);
    border-radius:15px;
    overflow:hidden;
}
.flex-card-slick .slick-slide{
    margin:0 15px 20px;
}
.flex-card-slick .slick-slide .tech_card{
    margin-bottom:15px;
}
.tech_card .thumbnail{
    min-height:80px;
    overflow:hidden;
    background-color:rgb(224,231,244);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.avatar{
    border-radius:50%;
    overflow:hidden;
    background-color:rgb(224,231,244);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.tech_card .thumbnail img{
    max-width:100%;
}
.tech_card .thumbnail .icon_wrap{
    padding:60px 0 20px;
}
.popoup_header{
    height:150px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.thumbnail{
    position:relative;
}
.thumbnail .overlay{
    position:absolute;
    display:block;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
}
.thumbnail .overlay .overlay-content{
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color:#FFF;
    font-weight:400;
    font-size:1.2rem;
}
.vertical-align-0{
    vertical-align:0 !important;
}

.table-vertical-middle .xxx_content{
    vertical-align:2px;
}
.table-vertical-middle th{
    text-align: justify;
    text-align-last: justify;
    letter-spacing: -0.1em;
}
.table-vertical-middle th,
.table-vertical-middle td{
    font-size:.9rem;
    vertical-align:middle !important;
}
.lg_content{
    font-size:22px;
    font-weight:300;
}
.sm_content{
    font-size:16px;
    font-weight:300;
}
.xs_content{
    font-size:14px;
    font-weight:300;
    vertical-align: -2px;
}
.xs_content .icon_wrap{
    width:16px;
    height:16px;
    vertical-align:-2px;
    display:inline-block;
    text-align:center;
}
.xxs_content{
    padding:0 10px;
    margin:5px 0 0;
    font-size:14px;
    font-weight:300;
}
.xxx_content{
    font-size:10px;
    font-weight:300;
}
.xxs_content .icon_wrap{
    width:15px;
    height:15px;
    display:inline-block;
    text-align:center;
}

.banners_slick .slick-dots {
    left:auto;
    top: -30px;
    right: 10px;
    width:auto;
}
.banners_slick .slick-dots li{
    width:10px;
    height:10px;
    margin:0 2px;
}
.banners_slick.slick-dotted.slick-slider{
    margin-bottom:0;
}

.slick-white-dots .slick-dots li button:before{
    color:rgb(155,163,190);
}
.slick-white-dots .slick-dots li.slick-active button:before{
    color:#FFF;
}

.affix_middle.affix{
    width:100%;
    position:fixed;
    z-index:100;
    bottom:0;
    left:0;
}



/*애니메이션*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -ms-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
}
.rotating_slow {
    -webkit-animation: rotating 12s linear infinite;
    -moz-animation: rotating 12s linear infinite;
    -ms-animation: rotating 12s linear infinite;
    -o-animation: rotating 12s linear infinite;
    animation: rotating 12s linear infinite;
}


/*알림센터 관련*/
.alert_card{
    border-radius:10px;
    overflow:hidden;
    -webkit-box-shadow: 0 0 5px 5px #ddd;
    -moz-box-shadow: 0 0 5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
    margin-bottom:30px;
}

/*탭 커스텀*/
.nav-tabs{
    border:none;
}
.nav-tabs .nav-item{
    border:1px solid #eee;
    border-top:5px solid #eee;
    border-left:none;
}
.nav-tabs .nav-item a{
    color:#ddd;
}
.nav-tabs .nav-item.active{
    border-top-color:rgb(25,43,95);
}
.nav-tabs .nav-item.active a{
    color:rgb(25,43,95);
}
.nav-tabs .nav-item:first-child{
    border-left:1px solid #eee;
}
.nav-tabs .nav-item a{
    border:none;
}

.cut1 {
  white-space:nowrap;
  /* display:block; */
  -webkit-line-clamp:1;
  overflow:hidden;
  text-overflow:ellipsis;
}

.cut2 {
  width: 200px;
  white-space: normal;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  line-height: 1.8;
  height: 4em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-size: smaller;
  -webkit-box-orient: vertical;
}
